
#card-body2{
   background-color: bisque;
    width: 15rem;
    height: auto;
    margin: 13px;
    border: 2px;
    border-style:solid ;
    border-color: black;
    border-radius: 1rem;
    text-emphasis-color:white ;

}

#card-img2{
    border-style:solid ;
    width: 120px;
    height: 100px;
    border-radius: 50%;
}